doctype html
html(lang="en")

head
	title #{htmlWebpackPlugin.options.data.projectPrettyName } - #{htmlWebpackPlugin.options.data.version }

body
	header
		div(class="logo")
		h1(class="version") #{htmlWebpackPlugin.options.data.projectPrettyName } - #{htmlWebpackPlugin.options.data.version }

	each val, key in htmlWebpackPlugin.options.data.sizes

		article( class="size")
			ul
					li
						a( class="local-link" href="../"+key+"/") #{ key } Preview
					if this.link
						li
							a( class="sizmek-link" href=this.link) #{ key } on ../#{ htmlWebpackPlugin.options.data.platform }
					li
						a( class="zip-link" href="../zip/"+ key +"-"+htmlWebpackPlugin.options.data.projectname+"-"+htmlWebpackPlugin.options.data.version+".zip" ) #{ key } Zip File Download

			figure
				figcaption #{ key } - #{ htmlWebpackPlugin.options.data.projectPrettyName } #{val.width} x #{val.height}
				span
					img( src="../"+key+"/screenshot.jpg" alt="Cat" title="cat")
				span
					iframe(height=val.height width=val.width src="../"+key frameborder="0")

			
	aside
		a(class="all-link" href="../zip/all-"+htmlWebpackPlugin.options.data.projectname+"-"+htmlWebpackPlugin.options.data.version+".zip" ) Download All Zip Files for #{htmlWebpackPlugin.options.data.projectPrettyName }
	footer &copy; VMLY&amp;R 2019
