body, html {
	height:100%;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', 'Roboto', 'Helvetica', 'Arial', 'Sans Serif';
	background:lighten(black,15%);
}

header, main {
	padding: 16px 20%;
	background: white;
}

// header

header {
	background: linear-gradient(
			to top,
			lighten(black,75%),
			rgba(white,1) 3%
		);
}

.logo {
	width: 10%;
	padding-bottom: 10%;
}

.partner-logo {

}

// main

main {

	display: grid;
	grid-gap: 2vw;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: 12vw;

	padding-top: 4vw;
	font-size:1.1vw;
	padding-bottom:8vw;
	@media screen and ( max-width: 800px ) {
		grid-template-columns: 1fr;
		grid-gap: 5vw;
		padding: 5vw;
		padding-top: 5vw;
		grid-auto-rows: 50vw;
		font-size: 5vw;
	}

}

article {

	position:relative;
	border:0.5px solid black;

	figure {

		position:relative;
		margin:0;
		display: flex;
		flex-direction: row;
		figcaption {
			display: none;
			padding: 0.5vw;
			font-weight: bold;
			background: white;
			top: 0;
			left: 0;
			z-index: 1;
			position: relative;
		}

		img {
			position: relative;
			display: block;
		}

	}

	ul {
		position:relative;
		z-index:1;

		left:0.5px;
		bottom:0.5px;
		width: calc( 100% - 10% - 1px );
		background: rgba(white,0.85);
		padding:5%;
		margin:0;
	}

	li {
		list-style-type:none;
		line-height:1.5;
	}

	a {
		color: black;
		transition: color 150ms ease-out;
		&:visited, &:active {
			color: purple;
			transition-timing-function: ease-in;
		}
		&:hover {
			color: blue;
			transition-timing-function: ease-in;
		}
	}
}

aside {
	background: lighten(black,20%);
	padding:12px;
	text-align:center;
	color:white;
	font-size:14px;
	a {
		color:white;
		&:visited, &:hover, &:active {
			color:gray;
		}
	}
}
// footer

footer {
	padding: 24px;
	color: white;
	background: lighten(black,15%);
}