@import '../../shared/scss/default';
@import '../../shared/scss/320x50Animation';

$animation-end: 20s forwards;

.images{
	.image1{
		top: -17px;
	}
	.image2{
		top: -18px;
	}
}

.logo{
	margin: 0 auto;
}
.copy{
	width: 327px;
	height: 48px;
	top: 16px;
}