@import '../../shared/scss/default';
@import '../../shared/scss/300x250AlwaysOnAnimation';

$animation-end: 20s forwards;




.button{
	animation: button #{$animation-end};
}

.images{
	.image1{
		top: 0px;
	}
}

.copy {
	.copy3 {
		width: 250px;
	}
}

.tandc{
	background-image: url('~@images/AllOtherT&Csoptical50.svg');
}