@import '../../shared/scss/default';
@import '../../shared/scss/300x250AlwaysOnAnimation';

$animation-end: 20s forwards;

.images{
	.image1{
		width: 138px;
	}
}


.button{
	animation: button #{$animation-end};
}

.copy {
	.copy3 {
		width: 250px;
	}
}

.tandc{
	background-image: url('~@images/AllOtherT&Csoptical300.svg');
	width: 171px;
	height: 21px;
}