@import '../../shared/scss/default';
@import '../../shared/scss/320x50AlwaysOnAnimation';

.images{
    .image1{
        width: 64px;
    }
    .image2{
        width: 39px;
    }
}

.copy {
	.copy1 {
		z-index: 10;
	}
}

.tandc{
	background-image: url('~@images/AllOtherT&Csoptical50.svg');
}