@import '../../shared/scss/default';
@import '../../shared/scss/300x600Animation';

$animation-end: 20s forwards;


.logo{
	margin: 0 auto;
}

.card200{
	opacity: 0;
	position: absolute;
	animation: cards #{$animation-end};
}
.card100{
	opacity: 0;
	position: absolute;
	animation: cards #{$animation-end};
	animation-delay: .3s;
}
.images{
	height: 110px;
	width: 255px;
	position: relative;
	top: 100px;
	left: 24px;
	.image2{
		margin-right: 20px;
	}
}
.button{
	animation: button #{$animation-end};
}
.tandc{
	position: absolute;
	bottom: 20px;
	animation: tandc #{$animation-end};
}
@keyframes button{
	0%, 85%{
		opacity: 0;
	}
	90%, 100%{
		opacity: 1;
	}
}
@keyframes cards {
	0%,51% {
		opacity: 0;
		left: 150px;
	}
	55%,70%{
		opacity: 1;
		left: 55px;
	}
	75%,100%{
		opacity: 1;
		left: 55px;
	}
}

@keyframes tandc{
	0% {
		opacity: 0
	}
	5%{
		opacity: 0;
	}
	15%,21% {
		opacity: 1;
	}
	22%,54% {
		opacity: 0;
	}
	55%,74%{
		opacity: 1;
	}
	79%,100%{
		opacity: 0;
	}
}
