$copy: (
	copy1: (
		'./images/copy/copy1.svg',
		95px
	),
	copy2: (
		'./images/copy/copy2.svg',
		129px
	),
	copy3: (
		'./images/copy/copy3.svg',
		88px
	)
);

$i: 1;
$animationTotalLength: 15;
$animationLength: $animationTotalLength / length($copy);
 
@each $name,$properties in $copy {
	.#{$name} {
		background-image: url(#{nth($properties,1)});
		background-repeat: no-repeat;
		width: 225px;
		height: 180px;
		position: absolute;
		opacity: 0;
		top: #{nth($properties,2)};
		animation: #{if($i < length($copy),#{$name}_animation,#{$name}_animation_end)} #{$animationLength}s forwards;
		animation-delay: #{($i - 1) * $animationLength}s; 
	}

	@keyframes #{$name}_animation{
		0%{
			left: -130px;
		}
		30%,70% {
			left: 10px;
			opacity: 1;
		}
		100%{
			left: -130px;
			opacity: 0;
		}
	}
	@keyframes #{$name}_animation_end{
		0%{
			left: -130px;
		}
		30%,100% {
			left: 10px;
			opacity: 1;
		}
	}
	$i: $i + 1;
}


.copy{
	width: 140px;
	height: 180px;
	position: relative;
}
.button{
    bottom: 16px;
	left: 8px;
}
.container{
    border: 1px solid grey;
	padding: 23px 0 0 5px;
	height: 600px;
	width: 160px;
	position: relative;
	box-sizing: border-box;
	background-image: url('./images/Background.jpg');
	background-repeat: no-repeat;
	overflow: hidden;
}
$animation-end: 15s forwards;

@keyframes button{
	0%, 85%{
		opacity: 0;
	}
	90%, 100%{
		opacity: 1;
	}
}
@keyframes cards {
	0%,5% {
		opacity: 0;
		left: 150px;
	}
	10%,70%{
		opacity: 1;
		left: 5px;
	}
	75%,100%{
		opacity: 1;
		//left: 150px;
	}
}

@keyframes tandc{
	0%,5%{
		opacity: 0;
	}
	10%,70%{
		opacity: 1;
	}
	75%,100%{
		opacity: 0;
	}
}

.logo{
	margin: 0 auto;
}

.card200{
	opacity: 0;
	position: absolute;
	bottom: 60px;
	margin-left: 30px;
	animation: cards #{$animation-end};
}
.card100{
	opacity: 0;
	position: absolute;
	bottom: 105px;
	animation: cards #{$animation-end};
	animation-delay: .3s;
}
.images{
	height: 110px;
	width: 147px;
	position: relative;
	top: 100px;
}

.button{
	animation: button #{$animation-end};
}
.tandc{
	position: absolute;
	bottom: 20px;
	animation: tandc #{$animation-end};
}