$copy: (
	copy1: (
		'./images/copy/copy1.svg',
		95px
	),
	copy2: (
		'./images/copy/copy2.svg',
		129px
	),
	copy3: (
		'./images/copy/copy3.svg',
		125px
	),
	copy4: (
		'./images/copy/copy4.svg',
		83px
	)
);

$i: 1;
$animationTotalLength: 20;
$animationLength: $animationTotalLength / length($copy);
 
@each $name,$properties in $copy {
	.#{$name} {
		background-image: url(#{nth($properties,1)});
		background-repeat: no-repeat;
		width: 225px;
		height: 180px;
		position: absolute;
		opacity: 0;
		top: #{nth($properties,2)};
		animation: #{if($i < length($copy),#{$name}_animation,#{$name}_animation_end)} #{$animationLength}s forwards;
		animation-delay: #{($i - 1) * $animationLength}s; 
	}

	@keyframes #{$name}_animation{
		0%{
			left: -130px;
		}
		30%,70% {
			left: 10px;
			opacity: 1;
		}
		100%{
			left: -130px;
			opacity: 0;
		}
	}
	@keyframes #{$name}_animation_end{
		0%{
			left: -130px;
		}
		30%,100% {
			left: 10px;
			opacity: 1;
		}
	}
	$i: $i + 1;
}

$copy: (
	image1: (
		'./images/image1.png',
		5px,
		-6px
	),
	image2: (
		'./images/image2.png',
		0,
		-10px
	)
);

$i: 1;
$animationTotalLength: 10;
$animationLength: $animationTotalLength / length($copy);

@each $name,$properties in $copy {
	.#{$name} {
		background-image: url(#{nth($properties,1)});
		background-repeat: no-repeat;
		height: 110px;
		width: 147px;
		position: absolute;
		opacity: 0;
		top: #{nth($properties,2)};
		animation: #{$name}_animation #{$animationLength}s forwards;
		animation-delay: #{($i - 1) * $animationLength}s; 
	}

	@keyframes #{$name}_animation{
		0%{
			right: -130px;
		}
		30%,70% {
			right: #{nth($properties,3)};
			opacity: 1;
		}
		100%{
			right: -130px;
			opacity: 0;
		}
	}
	$i: $i + 1;
}
@import './defaults/160x600';
