

@import './Animator';
$defaults: (
    animationLength: 15,
    top:-10px,
    startDirection:'left',
    startPx:-130px,
    endPx:10px,
    width: 229px,
    height: 188px,
    hasEnd: true,
    items: (
        copy1: (
			image: './images/copy/copy1.png',
			top: -30px
        ),
        copy2: (
			image: './images/copy/copy2.png',
			startDirection: 'right',
			startPx: -170px,
			endPx: -100px
        ),
        copy3: (
            image: './images/copy/copy3.svg'
        )
    )
);
@include animator($defaults);

$defaults: (
    animationLength: 10,
    top: 0px,
    startDirection:'left',
    startPx:100px,
    endPx:5px,
    width: 147px,
    height: 290px,
    hasEnd: false,
    items: (
        image1: (
			image: './images/image1.png'
        ),
        image2: (
			image: './images/image2.png',
			top: -5px,
			startDirection: 'right',
			endPx: 10px
        )
    )
);

@include animator($defaults);
@import './default';
@import './defaults/160x600';

.logo{
	margin: 0 auto;
}
.copy{
	width: 140px;
	height: 220px;
	position: relative;
	top: 95px;
}
.card200{
	opacity: 0;
	position: absolute;
	bottom: 60px;
	margin-left: 30px;
	animation: cards #{$animation-end};
}
.card100{
	opacity: 0;
	position: absolute;
	bottom: 105px;
	animation: cards #{$animation-end};
	animation-delay: .3s;
}
.images{
	height: 300px;
	width: 147px;
	position: relative;
	top: 35px;
}
.button{
	bottom: 239px;
	animation: button #{$animation-end};
}
.tandc{
	position: absolute;
	background-image: url('~@images/AllOtherT&Cs160.svg');
	bottom: 20px;
	animation: tandc #{$animation-end};
}

@keyframes button{
	0%, 60%{
		opacity: 0;
	}
	65%, 100%{
		opacity: 1;
	}
}

@keyframes tandc{
	0%,50% {
		opacity: 0
	}
	55%,74%{
		opacity: 1;
	}
	79%,100%{
		opacity: 1;
	}
}

