

@import './Animator';
$defaults: (
    animationLength: 20,
    top:-10px,
    startDirection:'left',
    startPx:-130px,
    endPx:10px,
    width: 229px,
    height: 167px,
    hasEnd: true,
    items: (
        copy1: (
            image: './images/copy/copy1.svg'
        ),
        copy2: (
            image: './images/copy/copy2.svg'
        ),
        copy3: (
            image: './images/copy/copy3.svg'
        ),
        copy4: (
            image: './images/copy/copy4.svg'
        )
    )
);
@include animator($defaults);

$defaults: (
    animationLength: 15,
    top: 0px,
    startDirection:'left',
    startPx:100px,
    endPx:5px,
    width: 147px,
    height: 290px,
    hasEnd: false,
    items: (
        image1: (
			image: './images/image1.svg'
        ),
        image2: (
			image: './images/image1.png'
        ),
        image3: (
			image: './images/image2.png',
			top: -5px,
			startDirection: 'right',
			endPx: 10px
        )
    )
);

@include animator($defaults);
@import './default';
@import './defaults/160x600';

.logo{
	margin: 0 auto;
}
.copy{
	width: 140px;
	height: 220px;
	position: relative;
	top: 95px;
}
.images{
	height: 300px;
	width: 147px;
	position: relative;
	top: 35px;
}
.button{
	bottom: 239px;
	animation: button #{$animation-end};
}
.tandc{
	position: absolute;
	background-image: url('~@images/AllOtherT&Cs160.svg');
	bottom: 20px;
	animation: tandc #{$animation-end};
}

@keyframes button{
	0%, 85%{
		opacity: 0;
	}
	90%, 100%{
		opacity: 1;
	}
}

@keyframes tandc{
	0%,75% {
		opacity: 0
	}
	80%,100%{
		opacity: 1;
	}
}

