
$animation-end: 20s forwards;
@import './Animator';
$defaults: (
    animationLength: 20,
    top:0px,
    startDirection:'left',
    startPx:-130px,
    endPx:10px,
    width: 236px,
    height: 180px,
    hasEnd: true,
    items: (
        copy1: (
            image: './images/copy/copy1.svg'
        ),
        copy2: (
            image: './images/copy/copy2.svg'
        ),
        copy3: (
            image: './images/copy/copy3.svg',
            startDirection: 'right',
            startPx: -224px,
            endPx: -74px
        ),
        copy4: (
			image: './images/copy/copy4.svg',
			endPx: 30px,
        )
    )
);
@include animator($defaults);

$defaults: (
    animationLength: 15,
    top:-15px,
    startDirection:'right',
    startPx:-150px,
    endPx:0px,
    width: 278px,
    height: 494px,
    hasEnd: false,
    items: (
        image1: (
			image: './images/image1.svg'
        ),
        image2: (
			image: './images/image1.png'
        ),
        image3: (
            image: './images/image2.png',
			startDirection: 'left',
			startPx: -150px,
			endPx: 0px
        )
    )
);

@include animator($defaults);
.button{
    top: 251px;
	left: 71px;
}
.copy{
	width: 300px;
	height: 180px;
	position: absolute;
	top: 229px;
	left: 0px;
}
.images{
	height: 485px;
	width: 300px;
	position: absolute;
	top: 113px;
	left: 0px;
}
.logo{
	background-image: url('~@images/Logo300.png');
	height:50px;
	width: 180px;

}
.tandc{
	background-image: url('~@images/AllOtherT&Cs250.svg');
	background-repeat: no-repeat;
	width: 220px;
	height: 10px;
}
.container{
    border: 1px solid grey;
	padding: 37px 0 0 5px;
	height: 600px;
	width: 300px;
	position: relative;
	box-sizing: border-box;
	background-image: url('./images/Background.jpg');
	background-repeat: no-repeat;
	overflow: hidden;
}
$animation-end: 20s forwards;


.logo{
	margin: 0 auto;
}

.button{
	animation: button #{$animation-end};
}
.tandc{
	position: absolute;
	bottom: 20px;
	animation: tandc #{$animation-end};
}
@keyframes button{
	0%, 85%{
		opacity: 0;
	}
	90%, 100%{
		opacity: 1;
	}
}

@keyframes tandc{
	0%, 75% {
		opacity: 0
	}
	80%,100%{
		opacity: 1;
	}
}
