
$animation-end: 15s forwards;

$copy: (
	copy1: (
		'./images/copy/copy1.svg',
		0px
	),
	copy2: (
		'./images/copy/copy2.svg',
		30px
	),
	copy3: (
		'./images/copy/copy3.svg',
		-10px
	)
);

$i: 1;
$animationTotalLength: 15;
$animationLength: $animationTotalLength / length($copy);
 
@each $name,$properties in $copy {
	.#{$name} {
		background-image: url(#{nth($properties,1)});
		background-repeat: no-repeat;
		width: 225px;
		height: 180px;
		position: absolute;
		opacity: 0;
		top: #{nth($properties,2)};
		animation: #{if($i < length($copy),#{$name}_animation,#{$name}_animation_end)} #{$animationLength}s forwards;
		animation-delay: #{($i - 1) * $animationLength}s; 
	}

	@keyframes #{$name}_animation{
		0%{
			left: -130px;
		}
		30%,70% {
			left: 40px;
			opacity: 1;
		}
		100%{
			left: -130px;
			opacity: 0;
		}
	}
	@keyframes #{$name}_animation_end{
		0%{
			left: -130px;
		}
		30%,100% {
			left: 40px;
			opacity: 1;
		}
	}
	$i: $i + 1;
}

.button{
    bottom: 39px;
	left: 71px;
}
.copy{
	width: 225px;
	height: 180px;
	position: relative;
	top: 122px;
}
.logo{
	background-image: url('~@images/Logo300.png');
	height:50px;
	width: 180px;

}
.tandc{
	background-image: url('~@images/f1_bottom_T&Cs_300.svg');
	background-repeat: no-repeat;
	width: 190px;
	height: 8px;
}
.container{
    border: 1px solid grey;
	padding: 37px 0 0 5px;
	height: 600px;
	width: 300px;
	position: relative;
	box-sizing: border-box;
	background-image: url('./images/Background.jpg');
	background-repeat: no-repeat;
	overflow: hidden;
}
.card200{
	background-image: url('~@images/Card200Large.png');
	height: 130px;
	width: 165px;
	bottom: 30px;
	margin-left: 44px;
}
.card100{
	background-image: url('~@images/Card100Large.png');
	height: 130px;
	width: 165px;
	bottom: 87px;
}
.card200{
	opacity: 0;
	position: absolute;
	animation: cards #{$animation-end};
}
.card100{
	opacity: 0;
	position: absolute;
	animation: cards #{$animation-end};
	animation-delay: .3s;
}
.images{
	height: 110px;
	width: 255px;
	position: relative;
	top: 100px;
	left: 24px;
}
.button{
	animation: button #{$animation-end};
}
.tandc{
	position: absolute;
	bottom: 20px;
}
@keyframes button{
	0%, 85%{
		opacity: 0;
	}
	90%, 100%{
		opacity: 1;
	}
}
@keyframes cards {
	0%,5% {
		opacity: 0;
		left: 150px;
	}
	10%,100%{
		opacity: 1;
		left: 55px;
	}
}


