
$copy: (
	copy1: (
		'./images/copy/copy1.svg',
		0px
	),
	copy2: (
		'./images/copy/copy2.svg',
		30px
	),
	copy3: (
		'./images/copy/copy3.svg',
		30px
	),
	copy4: (
		'./images/copy/copy4.svg',
		-12px
	)
);

$i: 1;
$animationTotalLength: 20;
$animationLength: $animationTotalLength / length($copy);
 
@each $name,$properties in $copy {
	.#{$name} {
		background-image: url(#{nth($properties,1)});
		background-repeat: no-repeat;
		width: 225px;
		height: 180px;
		position: absolute;
		opacity: 0;
		top: #{nth($properties,2)};
		animation: #{if($i < length($copy),#{$name}_animation,#{$name}_animation_end)} #{$animationLength}s forwards;
		animation-delay: #{($i - 1) * $animationLength}s; 
	}

	@keyframes #{$name}_animation{
		0%{
			left: -130px;
		}
		30%,70% {
			left: 40px;
			opacity: 1;
		}
		100%{
			left: -130px;
			opacity: 0;
		}
	}
	@keyframes #{$name}_animation_end{
		0%{
			left: -130px;
		}
		30%,100% {
			left: 40px;
			opacity: 1;
		}
	}
	$i: $i + 1;
}

$copy: (
	image1: (
		'./images/image1.png',
		5px,
		0px
	),
	image2: (
		'./images/image2.png',
		0,
		0px
	)
);

$i: 1;
$animationTotalLength: 10;
$animationLength: $animationTotalLength / length($copy);

@each $name,$properties in $copy {
	.#{$name} {
		background-image: url(#{nth($properties,1)});
		background-repeat: no-repeat;
		height: 110px;
		width: 255px;
		position: absolute;
		opacity: 0;
		top: #{nth($properties,2)};
		animation: #{$name}_animation #{$animationLength}s forwards;
		animation-delay: #{($i - 1) * $animationLength}s; 
	}

	@keyframes #{$name}_animation{
		0%{
			right: -150px;
		}
		30%,70% {
			right: #{nth($properties,3)};
			opacity: 1;
		}
		100%{
			right: -150px;
			opacity: 0;
		}
	}
	$i: $i + 1;
}

.button{
    bottom: 39px;
	left: 71px;
}
.copy{
	width: 225px;
	height: 180px;
	position: relative;
	top: 122px;
}
.logo{
	background-image: url('~@images/Logo300.png');
	height:50px;
	width: 180px;

}
.tandc{
	background-image: url('~@images/f1_bottom_T&Cs_300.svg');
	background-repeat: no-repeat;
	width: 190px;
	height: 8px;
}
.container{
    border: 1px solid grey;
	padding: 37px 0 0 5px;
	height: 600px;
	width: 300px;
	position: relative;
	box-sizing: border-box;
	background-image: url('./images/Background.jpg');
	background-repeat: no-repeat;
	overflow: hidden;
}
.card200{
	background-image: url('~@images/Card200Large.png');
	height: 130px;
	width: 165px;
	bottom: 30px;
	margin-left: 44px;
}
.card100{
	background-image: url('~@images/Card100Large.png');
	height: 130px;
	width: 165px;
	bottom: 87px;
}