
$animation-end: 20s forwards;
@import './Animator';
$defaults: (
    animationLength: 20,
    top:-10px,
    startDirection:'left',
    startPx:-130px,
    endPx:10px,
    width: 229px,
    height: 180px,
    hasEnd: true,
    items: (
        copy1: (
            image: './images/copy/copy1.svg'
        ),
        copy2: (
            image: './images/copy/copy2.svg'
        ),
        copy3: (
            image: './images/copy/copy3.svg'
        ),
        copy4: (
            image: './images/copy/copy4.svg',
            top:-12px
        )
    )
);
@include animator($defaults);

$defaults: (
    animationLength: 10,
    top:-10px,
    startDirection:'right',
    startPx:-150px,
    endPx:0px,
    width: 110px,
    height: 225px,
    hasEnd: false,
    items: (
        image1: (
			image: './images/image1.png',
			top: -15px
        ),
        image2: (
			image: './images/image2.png',
			top: -10px,
			endPx: -9px
        )
    )
);

@include animator($defaults);

@import './defaults/300x250';

.tandc{
	background-image: url('~@images/f1_bottom_T&Cs_300.svg');
	background-repeat: no-repeat;
	width: 190px;
	height: 8px;
	position: absolute;
	bottom: 10px;
	right: initial;
	transform: initial;
	left: 10px;
	animation: tandc #{$animation-end};
}

.card200{
	opacity: 0;
	position: absolute;
	margin-left: 88px;
	animation: cards2 #{$animation-end};
}
.card100{
	opacity: 0;
	height: 85px;
	width: 108px;
	bottom: 25px;
	position: absolute;
	animation: cards #{$animation-end};
	animation-delay: .3s;
}

@keyframes cards {
	0%,55% {
		opacity: 0;
		height: 85px;
		width: 108px;
		bottom: 25px;	
		left: 220px;
	}
	60%,70%{
		opacity: 1;
		height: 85px;
		width: 108px;
		bottom: 25px;
		left: 90px;
	}
	75%,100%{
		opacity: 1;
		width: 80px;
		height: 63px;
		bottom: 8px;
		left: 147px;
	}
}
@keyframes cards2 {
	0%,55% {
		opacity: 0;
		height: 85px;
		width: 108px;
		bottom: 25px;	
		left: 220px;
		margin-left: 88px;
	}
	60%,70%{
		opacity: 1;
		height: 85px;
		width: 108px;
		bottom: 25px;
		left: 90px;
		margin-left: 88px;
	}
	75%,100%{
		opacity: 1;
		width: 80px;
		height: 63px;
		bottom: 8px;
		left: 147px;
		margin-left: 66px;
	}
}
@keyframes tandc{
	0% {
		opacity: 0
	}
	5%{
		opacity: 0;
	}
	15%,21% {
		opacity: 1;
	}
	22%,54% {
		opacity: 0;
	}
	55%,65%{
		opacity: 1;
	}
	70%,100%{
		opacity: 0;
	}
}