
$animation-end: 20s forwards;
@import './Animator';
$defaults: (
    animationLength: 20,
    top:-10px,
    startDirection:'left',
    startPx:-130px,
    endPx:10px,
    width: 245px,
    height: 180px,
    hasEnd: true,
    items: (
        copy1: (
            image: './images/copy/copy1.svg'
        ),
        copy2: (
            image: './images/copy/copy2.svg'
        ),
        copy3: (
            image: './images/copy/copy3.svg',
            startDirection: 'right',
            startPx: -260px,
            endPx: -82px
        ),
        copy4: (
            image: './images/copy/copy4.svg'
        )
    )
);
@include animator($defaults);

$defaults: (
    animationLength: 15,
    top:-15px,
    startDirection:'right',
    startPx:-150px,
    endPx:-16px,
    width: 144px,
    height: 225px,
    hasEnd: false,
    items: (
        image1: (
			image: './images/image1.svg'
        ),
        image2: (
			image: './images/image1.png'
        ),
        image3: (
            image: './images/image2.png',
            startDirection: 'left',
			endPx: -9px
        )
    )
);

@include animator($defaults);

@import './defaults/300x250';
.images{
    left: 0px;
    top: -179px;
    width: 277px;
}
.button{
    bottom: 35px;
}
.tandc{
	background-image: url('~@images/AllOtherT&Cs250.svg');
	background-repeat: no-repeat;
	width: 215px;
	height: 10px;
	position: absolute;
	bottom: 10px;
	right: initial;
	transform: initial;
	left: 15px;
	animation: tandc #{$animation-end};
}

@keyframes tandc{
	0%,85% {
		opacity: 0
	}
	90%,100%{
		opacity: 1;
	}
}