
$animation-end: 15s forwards;
@import './Animator';
$defaults: (
    animationLength: 15,
    top:-10px,
    startDirection:'left',
    startPx:-130px,
    endPx:10px,
    width: 229px,
    height: 180px,
    hasEnd: true,
    items: (
        copy1: (
            image: './images/copy/copy1.svg'
        ),
        copy2: (
            image: './images/copy/copy2.svg'
        ),
        copy3: (
            image: './images/copy/copy3.svg'
        )
    )
);
@include animator($defaults);



@import './defaults/300x250';

.tandc{
	background-image: url('~@images/f1_bottom_T&Cs_300.svg');
	background-repeat: no-repeat;
	width: 190px;
	height: 8px;
	position: absolute;
	bottom: 10px;
	right: initial;
	transform: initial;
	left: 10px;
	animation: tandc #{$animation-end};
}

.card200{
	opacity: 0;
	position: absolute;
	margin-left: 88px;
	animation: cards2 #{$animation-end};
}
.card100{
	opacity: 0;
	height: 85px;
	width: 108px;
	bottom: 25px;
	position: absolute;
	animation: cards #{$animation-end};
	animation-delay: .3s;
}

@keyframes cards {
	0%,30% {
		opacity: 0;
		height: 85px;
		width: 108px;
		bottom: 25px;	
		left: 220px;
	}
	35%,50%{
		opacity: 1;
		height: 85px;
		width: 108px;
		bottom: 25px;
		left: 90px;
	}
	55%,100%{
		opacity: 1;
		width: 80px;
		height: 63px;
		bottom: 8px;
		left: 147px;
	}
}
@keyframes cards2 {
	0%,30% {
		opacity: 0;
		height: 85px;
		width: 108px;
		bottom: 25px;	
		left: 220px;
		margin-left: 88px;
	}
	35%,50%{
		opacity: 1;
		height: 85px;
		width: 108px;
		bottom: 25px;
		left: 90px;
		margin-left: 88px;
	}
	55%,100%{
		opacity: 1;
		width: 80px;
		height: 63px;
		bottom: 8px;
		left: 147px;
		margin-left: 66px;
	}
}
@keyframes tandc{
	0% {
		opacity: 0
	}
	5%,50%{
		opacity: 1;
	}
	55%,100% {
		opacity: 0;
	}
}