$animation-end: 15s forwards;


$animationTotalLength: 15;


$copy: (
	copy1: (
		'./images/copy/copy1.svg',
		4px
	),
	copy2: (
		'./images/copy/copy2.svg',
		16px
	),
	copy3: (
		'./images/copy/copy3.svg',
		4px
	)
);
$animationLength: $animationTotalLength / length($copy);

$i: 1;
@each $name,$properties in $copy {
	.#{$name} {
		background-image: url(#{nth($properties,1)});
		background-repeat: no-repeat;
		width: 327px;
		height: 48px;
		position: absolute;
		opacity: 0;
		top: #{nth($properties,2)};
		animation: #{$name}_animation #{$animationLength}s forwards;
		animation-delay: #{($i - 1) * $animationLength}s; 
	}

	@keyframes #{$name}_animation{
		0%{
			top: -50px;
		}
		30%,70% {
			top: #{nth($properties,2)};
			opacity: 1;
		}
		100%{
			top: -50px;
			opacity: 0;
		}
	}
	$i: $i + 1;
}




.button{
    bottom: 43px;
	left: 17px;
	width: 75px;
	opacity: 0;
	background-image: url('~@images/button50.png');
	animation: button #{$animation-end};
	animation-delay: 1s;
}
.card200{
	height: 40px;
	width: 51px;
	opacity: 0;
	position: absolute;
	bottom: 7px;
	margin-left: 143px;
	animation: cards2 #{$animation-end};
}
.card100{
	height: 40px;
	width: 51px;
	opacity: 0;
	position: absolute;
	bottom: 7px;
	margin-left: 100px;
	animation: cards #{$animation-end};
	animation-delay: .3s;
}
.logo{
	background-image: url('~@images/Logo50.png');
	height: 26px;
	width: 92px;
}
.container{
    border: 1px solid grey;
	padding: 0;
	height: 50px;
	width: 320px;
	position: relative;
	box-sizing: border-box;
	background-image: url('./images/Background.jpg');
	background-repeat: no-repeat;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	> div{
		flex-grow: 1;
		position: relative;
	}
	.left{
		padding: 13px 5px;
		width: 192px;
		flex-grow: 0;
	}
}
.images{
	width: 162px;
	height: 69px;
	top: 20px;
	right: 0px;
	position: absolute;
}
.tandc{
	background-image: url('~@images/f1_bottom_T&Cs_50.svg');
	right: initial;
	width: 191px;
	height: 20px;
	left: 0px;
	transform: initial;
	position: absolute;
	bottom: -13px;
	animation: tandc #{$animation-end};

}
@keyframes cards {
	0%,5% {
		opacity: 0;
		height:50px;
		width: 55px;
		left: 150px;
	}
	10%,60%{
		opacity:1;
		height:50px;
		width: 55px;
		left: 65px;
	}
	65%,94%{
		opacity: 0;
		left: 150px;
	}
	95%{
		opacity: 0;
	}
	100%{
		opacity: 1;
		left: 20px;
	}
}

@keyframes cards2 {
	0%,5% {
		opacity: 0;
		top: 12px;
		left: 150px;
	}
	10%,60%{
		opacity:1;
		top: 12px;
		left: 37px;
	}
	65%,94%{
		opacity: 0;
		left: 150px;
	}
	100%{
		opacity: 1;
		left: 20px;
	}
}

@keyframes button{
	0%, 97%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}



@keyframes tandc{
	0%,5%{
		opacity: 0;
	}
	10%,65% {
		opacity: 1;
	}
	70%,100%{
		opacity: 0;
	}
}
