$animation-end: 20s forwards;
@import './Animator';


$defaults: (
    animationLength: 20,
    top:-50px,
    startDirection:'top',
    startPx:-130px,
    endPx:-9px,
    width: 327px,
    height: 48px,
    hasEnd: false,
    items: (
        copy1: (
			image: './images/copy/copy1.svg'
        ),
        copy2: (
            image: './images/copy/copy2.svg'
        ),
        copy3: (
			image: './images/copy/copy3.svg',
			endPx: 0px
        ),
        copy4: (
            image: './images/copy/copy4.svg'
        )
    )
);
@include animator($defaults);

$defaults: (
    animationLength: 15,
    top:0px,
    startDirection:'right',
    startPx:-50px,
    endPx:0px,
    width: 47px,
    height: 50px,
    hasEnd: false,
    items: (
		image1: (image:'./images/image1.svg'),
        image2: (
			image: './images/image1.png'
        ),
        image3: (
            image: './images/image2.png'
        )
    )
);
@include animator($defaults);


.button{
    bottom: 43px;
	left: 17px;
	width: 75px;
	opacity: 0;
	background-image: url('~@images/button50.png');
	animation: button #{$animation-end};
	animation-delay: 1s;
}
.copy{
	position: relative;
	width: 212px;
	height: 48px;
	top: 16px;
}
.logo{
	background-image: url('~@images/Logo50.png');
	margin: -3px auto;
	height: 26px;
	width: 92px;
	animation: logo #{$animation-end};
}
.container{
    border: 1px solid grey;
	padding: 0;
	height: 50px;
	width: 320px;
	position: relative;
	box-sizing: border-box;
	background-image: url('./images/Background.jpg');
	background-repeat: no-repeat;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	> div{
		flex-grow: 1;
		position: relative;
	}
	.left{
		padding: 13px 5px;
		width: 192px;
		flex-grow: 0;
	}
}
.images{
	width: 50px;
	height: 50px;
	top: 	0px;
	right: 0px;
	position: absolute;
}
.tandc{
	background-image: url('~@images/AllOtherT&Cs50.svg');
	right: initial;
	width: 191px;
	height: 20px;
	left: 0px;
	transform: initial;
	position: absolute;
	bottom: -13px;
	animation: tandc #{$animation-end};

}

@keyframes button{
	0%, 97%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}



@keyframes tandc{
	0%,55% {
		opacity: 0
	}
	60%,90%{
		opacity: 1;
	}
	95%,100%{
		opacity: 0;
	}
}
@keyframes logo{
	0%, 95%{
		margin-left: 0;
	}
	100%{
		margin-left: 50px;
	}
}