$animation-end: 20s forwards;


$animationTotalLength: 20;


$copy: (
	copy1: (
		'./images/copy/copy1.svg',
		16px
	),
	copy2: (
		'./images/copy/copy2.svg',
		31px
	),
	copy3: (
		'./images/copy/copy3.svg',
		31px
	),
	copy4: (
		'./images/copy/copy4.svg',
		20px
	)
);
$animationLength: $animationTotalLength / length($copy);

$i: 1;
@each $name,$properties in $copy {
	.#{$name} {
		background-image: url(#{nth($properties,1)});
		background-repeat: no-repeat;
		width: 327px;
		height: 48px;
		position: absolute;
		opacity: 0;
		top: #{nth($properties,2)};
		animation: #{if($i < length($copy),#{$name}_animation,#{$name}_animation_end)} #{$animationLength}s forwards;
		animation-delay: #{($i - 1) * $animationLength}s; 
	}

	@keyframes #{$name}_animation{
		0%{
			top: -50px;
		}
		30%,70% {
			top: #{nth($properties,2)};
			opacity: 1;
		}
		100%{
			top: -50px;
			opacity: 0;
		}
	}
	@keyframes #{$name}_animation_end{
		0%{
			top: -50px;
		}
		30%,100% {
			top:  #{nth($properties,2)};
			opacity: 1;
		}
	}
	$i: $i + 1;
}

$animationTotalLength: 10;

$copy: (
	image1: (
		'./images/image1.png',
		5px,
		10px
	),
	image2: (
		'./images/image2.png',
		-5px,
		-10px
	)
);

$animationLength: $animationTotalLength / length($copy);

$i: 1;

@each $name,$properties in $copy {
	.#{$name} {
		background-image: url(#{nth($properties,1)});
		background-repeat: no-repeat;
		height: 69px;
		width: 162px;
		position: absolute;
		opacity: 0;
		top: #{nth($properties,2)};
		animation: #{$name}_animation #{$animationLength}s forwards;
		animation-delay: #{($i - 1) * $animationLength}s; 
	}

	@keyframes #{$name}_animation{
		0%{
			right: -50px;
		}
		30%,70% {
			right: #{nth($properties,3)};
			opacity: 1;
		}
		100%{
			right: -50px;
			opacity: 0;
		}
	}
	$i: $i + 1;
}
@keyframes cards {
	0%,51% {
		opacity: 0;
		left: 150px;
	}
	55%,70%{
		opacity: 1;
		left: 5px;
	}
	75%,100%{
		opacity: 1;
		//left: 150px;
	}
}
.button{
    top: 22px;
	left: 8px;
}
.card200{
	height: 75px;
	width: 95px;
	opacity: 0;
	position: absolute;
	bottom: 7px;
	margin-left: 80px;
	animation: cards #{$animation-end};
}
.card100{
	height: 75px;
	width: 95px;
	opacity: 0;
	position: absolute;
	bottom: 7px;
	animation: cards #{$animation-end};
	animation-delay: .3s;
}

.container{
    border: 1px solid grey;
	padding: 0;
	height: 90px;
	width: 728px;
	position: relative;
	box-sizing: border-box;
	background-image: url('./images/Background.jpg');
	background-repeat: no-repeat;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	> div{
		flex-grow: 1;
		position: relative;
	}
	.left{
		padding-top: 23px;
		width: 192px;
		flex-grow: 0;
	}
}
.images{
	width: 162px;
	height: 69px;
	top: 20px;
	left: 0px;
	position: absolute;
}
.tandc{
	background-image: url('~@images/f1_bottom_T&Cs_728.svg');
	right: initial;
	width: 191px;
	height: 20px;
	left: 0px;
	transform: initial;
}
@keyframes cards {
	0%,51% {
		opacity: 0;
		left: 150px;
	}
	55%,70%{
		opacity: 1;
		left: -35px;
	}
	75%,100%{
		opacity: 0;
		left: 150px;
	}
}

@keyframes button{
	0%, 85%{
		opacity: 0;
	}
	90%, 100%{
		opacity: 1;
	}
}

.button{
	animation: button #{$animation-end};
}
.tandc{
	position: absolute;
	bottom: -4px;
	animation: tandc #{$animation-end};
}



@keyframes tandc{
	0% {
		opacity: 0
	}
	5%{
		opacity: 0;
	}
	15%,21% {
		opacity: 1;
	}
	22%,54% {
		opacity: 0;
	}
	55%,74%{
		opacity: 1;
	}
	79%,100%{
		opacity: 0;
	}
}
