@import './Animator';
$animation-end: 20s forwards;





$defaults: (
    animationLength: 15,
    top:-50px,
    startDirection:'top',
    startPx:-130px,
    endPx:19px,
    width: 405px,
    height: 50px,
    hasEnd: true,
    items: (
        copy1: (
			image: './images/copy/copy1.png'
        ),
        copy2: (
            image: './images/copy/copy2.png'
        ),
        copy3: (
			image: './images/copy/copy3.svg',
			endPx: 14px
        )
    )
);
@include animator($defaults);

$defaults: (
    animationLength: 10,
    top:0px,
    startDirection:'right',
    startPx:-130px,
    endPx:-9px,
    width: 150px,
    height: 90px,
    hasEnd: false,
    items: (
        image1: (
			image: './images/image1.png',
			endPx: -12px
        ),
        image2: (
			image: './images/image2.png',
			endPx: -9px
        )
    )
);
@include animator($defaults);




.logo{
	margin: 0 auto;
}
.copy{
	width: 327px;
	height: 48px;
	top: 16px;
}
.button{
    top: 22px;
	left: 8px;
}

.container{
    border: 1px solid grey;
	padding: 0;
	height: 90px;
	width: 728px;
	position: relative;
	box-sizing: border-box;
	background-image: url('./images/Background.jpg');
	background-repeat: no-repeat;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	> div{
		flex-grow: 1;
		position: relative;
	}
	.left{
		padding-top: 23px;
		width: 192px;
		flex-grow: 0;
	}
}
.images{
	width: 100px;
	height: 90px;
	top: 0px;
	right: 0px;
	position: absolute;
}
.tandc{
	background-image: url('~@images/AllOtherT&Cs250.svg');
	right: initial;
	width: 215px;
	height: 20px;
	left: 0px;
	transform: initial;
}

@keyframes button{
	0%, 65%{
		opacity: 0;
	}
	70%, 100%{
		opacity: 1;
	}
}

.button{
	animation: button #{$animation-end};
}
.tandc{
	position: absolute;
	bottom: -4px;
	animation: tandc #{$animation-end};
}



@keyframes tandc{
	0% ,55% {
		opacity: 0;
	}
	60%,100%{
		opacity: 1;
	}
}
