$animation-end: 20s forwards;
@function map-get-wdefault($map,$default,$key){
    @return if(map-has-key($map,$key),map-get($map,$key),map-get($default,$key));
}

@mixin animator($props){
    $i: 1;
    $animationTotalLength: map-get($props,'animationLength');
    $items: map-get($props,'items');
    $animationLength: $animationTotalLength / length($items);
    @each $name,$properties in $items {
        $backgroundImage: map-get($properties,'image');
        $width: map-get-wdefault($properties, $props, 'width');
        $height: map-get-wdefault($properties, $props, 'height');
        $top: map-get-wdefault($properties, $props, 'top');
        $startDirection: map-get-wdefault($properties, $props, 'startDirection');
        $startPx: map-get-wdefault($properties, $props, 'startPx');
        $endPx: map-get-wdefault($properties, $props, 'endPx');
        $height: map-get-wdefault($properties, $props, 'height');
        $animationEnd: if(map-get($props,'hasEnd'),#{$name}_animation_end,#{$name}_animation);
        .#{$name} {
            background-image: url(#{$backgroundImage});
            background-repeat: no-repeat;
            width: $width;
            height: $height;
            position: absolute;
            opacity: 0;
            top: $top;
            animation: #{if($i < length($items),#{$name}_animation,#{$animationEnd})} #{$animationLength}s forwards;
            animation-delay: #{($i - 1) * $animationLength}s; 
        }
    
        @keyframes #{$name}_animation{
            0%{
                #{$startDirection}: $startPx;
            }
            30%,70% {
                #{$startDirection}: $endPx;
                opacity: 1;
            }
            100%{
                #{$startDirection}: $startPx;
                opacity: 0;
            }
        }
        @if(map-get($props,'hasEnd')){
            @keyframes #{$name}_animation_end{
                0%{
                    #{$startDirection}: $startPx;
                    opacity: 0;
                }
                30%,100% {
                    #{$startDirection}: $endPx;
                    opacity: 1;
                }
            }
        }
        $i: $i + 1;
    }
}
 
