body{
	background-color: #fff;
	//padding: 20px;
	margin: 0px;
}
.logo{
	background-image: url('~@images/Logo.png');
	background-repeat: no-repeat;
	height: 40px;
	width: 135px;
}
.cards{
	background-image: url('~@images/2Cards.png');
	background-repeat: no-repeat;
	height: 137px;
	width: 146px;
}
.card100{
	background-image: url('~@images/Card100.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 90px;
	width: 115px;
}
.card200{
	background-image: url('~@images/Card200.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 90px;
	width: 115px;
}
.button{
	background-image: url('~@images/button.png');
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	height: 35px;
	width: 130px;
}
.tandc{
	background-image: url('~@images/f1_bottom_T&Cs.svg');
	background-repeat: no-repeat;
	width: 118px;
	height: 21px;
	right: 50%;
	transform: translateX(50%);
}