extends ../../shared/template/index.pug

block content
    .left
        .logo
    .middle
        .copy
            .copy1
            .copy2
            .copy3
        .tandc
    .end
        .images
            .image1
            .image2
        .button
