@import '../../shared/scss/default';
@import '../../shared/scss/728x90AlwaysOnAnimation';

$animation-end: 20s forwards;


.tandc{
	background-image: url('~@images/AllOtherT&Csoptical250.svg');
	width: 271px;
}