@import '../../shared/scss/default';
@import '../../shared/scss/728x90AlwaysOnAnimation';

$animation-end: 20s forwards;


.images{
    .image1{
        width: 95px;
    }
    .image2{
        width: 96px;
    }
}

.tandc{
	background-image: url('~@images/AllOtherT&Csoptical250.svg');
	width: 271px;
}