extends ../../shared/template/index.pug

block content
    .logo
    .copy
        .copy1
        .copy2
        .copy3
        .copy4
        .copy5
    .images
        .image1
        .image2
        .image3
    .button
    .tandc
