@import '../../shared/scss/160x600AlwaysOnAnimation';


.images{
	.image1{
		top: 12px;
    }
    .image2{
        top: 5px;
    }
}

.tandc{
	background-image: url('~@images/AllOtherT&Csoptical160.svg');
	width: 137px;
}