@import '../../shared/scss/default';
@import '../../shared/scss/300x600AlwaysOnAnimation';

$animation-end: 15s forwards;


.images{
	.image1{
		width: 236px;
	}
}

.copy {
	.copy3 {
		width: 250px;
	}
}

.tandc{
	background-image: url('~@images/AllOtherT&Csoptical250.svg');
	width: 271px;
}