extends ../../shared/template/index.pug

block content
    .left
        .logo
    .middle
        .copy
            .copy1
            .copy2
            .copy3
            .copy4
        .tandc
        .button
        .images
            .image1
            .image2
            .image3
