doctype html
html
    head
        meta(charset="utf-8")
        title #{ htmlWebpackPlugin.options.title }
        script(type="text/javascript" src="https://secure-ds.serving-sys.com/BurstingScript/EBLoader.js")
        script var format='#{ htmlWebpackPlugin.options.title }';
    body
        .container(onclick="EB.clickthrough();")
            block content