extends ../../shared/template/index.pug

block content
    .logo
    .copy
        .copy1
        .copy2
        .copy3
        .copy4
    .images
        .image1
        .image2
    .button
    .card200
    .card100
    .tandc