@import '../../shared/scss/default';
@import '../../shared/scss/728x90Animation';

$animation-end: 20s forwards;

.images{
	top: 2px;
	> div{
		height: 79px;
	}
	.image2{
		margin-top: 7px;
	}
}

.logo{
	margin: 0 auto;
}
.copy{
	width: 327px;
	height: 48px;
	top: 16px;
}