@import '../../shared/scss/default';
@import '../../shared/scss/300x250Animation';

$animation-end: 20s forwards;




.button{
	animation: button #{$animation-end};
}
.images{
	> div{
		width: 147px;
	}
	.image2{
		margin: 0 30px 0 0;
	}
}

@keyframes button{
	0%, 85%{
		opacity: 0;
	}
	90%, 100%{
		opacity: 1;
	}
}

