@import '../../shared/scss/default';
@import '../../shared/scss/320x50AlwaysOnAnimation';

.images{
    .image1{
        width: 35px;
    }
    .image2{
        width: 40px;
    }
}

.tandc{
	background-image: url('~@images/AllOtherT&Csoptical50.svg');
}