@import '../../shared/scss/default';
@import '../../shared/scss/300x250Animation';

$animation-end: 20s forwards;




.button{
	animation: button #{$animation-end};
}


@keyframes button{
	0%, 85%{
		opacity: 0;
	}
	90%, 100%{
		opacity: 1;
	}
}

