@import '../../shared/scss/default';
@import '../../shared/scss/300x250Animation';

$animation-end: 20s forwards;




.button{
	animation: button #{$animation-end};
}
.images{
	top: -117px;
	> div{
		height: 124px;
	}
	.image1{
		margin-top: 19px;
	}
	.image2{
		margin-right: 30px;
	}
}

@keyframes button{
	0%, 85%{
		opacity: 0;
	}
	90%, 100%{
		opacity: 1;
	}
}

