
.copy{
	width: 140px;
	height: 180px;
	position: relative;
}
.button{
    bottom: 16px;
	left: 8px;
}
.container{
    border: 1px solid grey;
	padding: 23px 0 0 5px;
	height: 600px;
	width: 160px;
	position: relative;
	box-sizing: border-box;
	background-image: url('./images/Background.jpg');
	background-repeat: no-repeat;
	overflow: hidden;
}