.container{
    border: 1px solid grey;
	padding: 24px 0 0 5px;
	height: 250px;
	width: 300px;
	position: relative;
	box-sizing: border-box;
	background-image: url('./images/Background.jpg');
	background-repeat: no-repeat;
	overflow: hidden;
}
.button{
	position: absolute;
    bottom: 19px;
	left: 15px;
}
.copy{
	width: 225px;
	height: 180px;
	position: relative;
	top: 25px;
	z-index: 1;
}

.images{
	height: 110px;
	width: 147px;
	position: relative;
	top: -64px;
	left: 146px;
}
.logo{
	background-image: url('~@images/Logo250.png');
	height:38px;
	width: 132px;
	margin-left: 140px;
}